// Import Bootstrap functions
@import "~bootstrap/scss/functions";

// Variables
$theme-colors: (
  primary: #E7717D,
  secondary: #C2C9CF,
  tertiary: #AFD274,
  fourth: #C1B9B0,
  fifth: #7D695A,
  bam: #B42735,
  grey: #e1e1e1,
  darkgrey: #707070,
);

// Global Variables
$link-color:            map-get($theme-colors, 'bam');
$link-hover-color:      darken(map-get($theme-colors, 'bam'), 5%);
$link-hover-decoration: none;
$spacer: 1rem;
$body-color:    #707070;

// Fonts
$primary-font-family: 'Raleway', sans-serif;
$font-family-base: 'Yellowtail', sans-serif;
$font-family-second: Raleway, sans-serif;

// typography
$enable-responsive-font-sizes: true;

$font-size-sm: 1rem;

// header sizes
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1rem;
$font-weight-base: 100;

// Cards
$card-border-radius: 0;

// Buttons
$btn-font-family: $font-family-second;
$btn-font-weight: 500;
